/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    position: relative;
    height: -moz-calc(100% - 66px);
    height: -webkit-calc(100% - 66px);
    height: calc(100% - 66px);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #3F51B5;
}

h1 {
    margin-top: 10%;
    text-align: center;
    color: #f8f9fa;
    font-weight: 700;
    font-size: 6em;
}

img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}

.gm-style .gm-style-iw {
    font-size: 1.3em;
    font-weight: 700;
}

.infoHeading {
    font-size: 1.2em;
    color: #3F51B5;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

a.navbar-brand {
    font-size: 1.7em;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2em;
    color: #f8f9fa;
}

.fas {
    padding: 5px;
}

#refresh {
    font-size: 1.2em;
    color: #f8f9fa;
    text-decoration: none;
}


/*Loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -50px 0 0 -50px;
    border: 16px solid #f3f3f3;;
    padding-top: 50px;
    border-radius: 50%;
    border-top: 16px solid #3498db;;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-content {
    max-width: 100%;
    overflow-x: hidden;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}


/* av8 Logo Icon */
@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot');
    src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-av8_logo {
    content: "\e900";
    padding-right: 5px;
}

.icon-av8_logo:before {
    content: "\e900";
}