/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    position:relative;
    height:94%;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.gm-style .gm-style-iw {
    font-size: 1.3em;
    font-weight: 700;
}

.infoHeading {
    font-size: 1.2em;
    color: #3F51B5;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 1.25em;
    color: #f8f9fa;
}